<center><h1 style="color:#FDA7BC; font-weight: bold"><%= @title %></h1></center>
<center>
    <div style="width: 50%; text-align: left; background-color: rgba( 237, 232, 183, 0.3 ); padding: 20px">
        <p>받는사람 <%=@getemail%> <br></p>
        <p style="text-align: right"><%=@senddate%></p>
        <hr/>
        <pre><%=@content%></pre>
    </div>
</center>